/* SearchBar Component Styles */

.search-form {
  margin-top: 20px;
  margin-bottom: 10px;
}

.search-input {
  padding: 10px;
  width: 70%;
  font-size: 1.1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 8px;
}

.search-button {
  padding: 10px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
